{% extends 'base.html' %}

{% block title %}
    Homepage -- {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>Welcome to Freeshelf: Art History Edition</h1> 
    {% comment %} <p>{{ number }}</p> {% endcomment %}
    {% for book in books %}
        <p><a href="{% url 'book_detail' slug=book.slug %}">
        <h4>{{ book.title }}</h4></a>
        Written by {{ book.author }}</p>
        {% comment %} <li>{{ book.description }}</li> {% endcomment %}
        {% comment %} {{ book.category }} {% endcomment %}
        {% comment %} <li>{{ book.slug }}</li> {% endcomment %}
        {% comment %} <li>{{ book.url }}</li> {% endcomment %}
        {% comment %} {{ book.image }} {% endcomment %}
    
    {% endfor %}
{% endblock content %}